#aboutus {
    padding: 20px;
    overflow: hidden;
}
    
    #subpage-menu ul>li.active {
        background: #99646c;
        border-color: #7a5056;
    }
    #subpage-menu>ul>li>ul.sub-menu {
        background: #99646c;
    }

    #aboutus>section:first-of-type>img {
        width: 100%;
    }
    
    .container {
        padding: 0 25%;
        text-align: center;
        width: 100%;
    }
    
    .img-container {
        padding: 0 14%;
    }
        h1 {
            font-size: 75px;
            line-height: 60px;
            text-align: center;
            color: #99646c;
            margin-bottom: 30px;
        }
        
        h2 {
            text-align: center;
            margin-bottom: 40px;
        }
        
        h3 {
            margin-top: 10px;
            font-size: 25px;
            font-family: 'Myriad Pro', sans-serif;;
            font-weight: bold;
            line-height: 28px;
            color: #99646c;
            margin-bottom: 40px;
        }
        
        p {
            font-size: 14px;
            line-height: 28px;
            
        }
        
        .img-container img {
            margin-bottom: 20px;
            display: block;
            margin: auto;
        }
                
        